<%- include('partials/header') -%>

<div>
    <h1>Home</h1>
    <a href="/compose" class="btn btn-info" id="compose">Compose</a>
    <p> <%= home %> </p>
</div>


<div class="row">

    <% postList.forEach(post => { %>


        <!-- for(let i = 0;i<postList.length;i++){
            if
        } -->
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card my-2 ">
                <div class="card-header">
                    <%= post.title %>
                </div>
                <div class="card-body">
                  <%= (post.desc).substring(0,100) %>
                </div>
                <div class="card-footer">
                    <div class="d-grid gap-2">
                        <a href= "/posts/<%= _.kebabCase(_.lowerCase(post.title)) %>"  class="btn btn-outline-dark" type="button">View</a>
                    </div>
                </div>
            </div>
            <!-- <div class="card">
                <p>  </p>
                <p>  </p>
            </div> -->
        </div>

    <% }) %>

</div>

<!-- <% for( let i = 0; i < postList.length; i++ ) { %>
    <%  %> 
<% } %> -->



<%- include('partials/footer') -%>